* {
    box-sizing: border-box;
}
body {
    background-image: url('../img/fondo.jpg');
     /*background-size: cover;  para que la imagen cubra todo el fondo */
	color: #ffffff;
    background-color: #ffffff;
	display: flex;
	justify-content: center;
}
.container {
    background: #000000;
	width: 80%;
	max-width: 990px;
	padding: 2em;
	margin: 1em;
}